{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://adminmanagement.local.azurestack.external/"
        }
    ],
    "info": {
        "description": "The Admin Subscriptions Management Client.",
        "title": "SubscriptionsManagementClient",
        "version": "2015-11-01",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/Quota.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "azsadmin-Quota",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations/{location}/quotas": {
            "get": {
                "description": "Get the list of quotas at a location.",
                "operationId": "Quotas_List",
                "parameters": [
                    {
                        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The AzureStack location.",
                        "in": "path",
                        "name": "location",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "2015-11-01"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "List of quotas.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "URI to next page.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "List of quotas.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "Base Resource Object",
                                                        "properties": {
                                                            "id": {
                                                                "description": "URI of the resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "Location of the resource",
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Name of the resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "List of key-value pairs.",
                                                                "readOnly": true,
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "description": "Type of resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "x-ms-azure-resource": true
                                                    }
                                                ],
                                                "description": "Quotas for DelegatedProviders.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "Quotas for DelegatedProviders.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "allowCustomPortalBranding": {
                                                                "description": "Value indicating whether custom portal branding is allowed.",
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Quotas"
                ],
                "x-ms-examples": {
                    "Get the list of quotas at a location.": {
                        "parameters": {
                            "api-version": "2015-11-01",
                            "location": "local",
                            "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions.Admin/locations/local/quotas/delegatedProviderQuota",
                                            "location": "local",
                                            "name": "local/delegatedProviderQuota",
                                            "properties": {
                                                "allowCustomPortalBranding": false
                                            },
                                            "type": "Microsoft.Subscriptions.Admin/locations/quotas"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {}
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations/{location}/quotas/{quota}": {
            "get": {
                "description": "Gets a quota by name.",
                "operationId": "Quotas_Get",
                "parameters": [
                    {
                        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The AzureStack location.",
                        "in": "path",
                        "name": "location",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name of the quota.",
                        "in": "path",
                        "name": "quota",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "2015-11-01"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "Base Resource Object",
                                            "properties": {
                                                "id": {
                                                    "description": "URI of the resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "Location of the resource",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Name of the resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "List of key-value pairs.",
                                                    "readOnly": true,
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "description": "Type of resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object",
                                            "x-ms-azure-resource": true
                                        }
                                    ],
                                    "description": "Quotas for DelegatedProviders.",
                                    "properties": {
                                        "properties": {
                                            "description": "Quotas for DelegatedProviders.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "allowCustomPortalBranding": {
                                                    "description": "Value indicating whether custom portal branding is allowed.",
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Quotas"
                ],
                "x-ms-examples": {
                    "Gets a quota by name.": {
                        "parameters": {
                            "api-version": "2015-11-01",
                            "location": "local",
                            "quota": "local/delegatedProviderQuota",
                            "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions.Admin/locations/local/quotas/delegatedProviderQuota",
                                    "location": "local",
                                    "name": "local/delegatedProviderQuota",
                                    "properties": {
                                        "allowCustomPortalBranding": false
                                    },
                                    "type": "Microsoft.Subscriptions.Admin/locations/quotas"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Quota": {
                "allOf": [
                    {
                        "description": "Base Resource Object",
                        "properties": {
                            "id": {
                                "description": "URI of the resource.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "location": {
                                "description": "Location of the resource",
                                "type": "string"
                            },
                            "name": {
                                "description": "Name of the resource.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "tags": {
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "List of key-value pairs.",
                                "readOnly": true,
                                "type": "object"
                            },
                            "type": {
                                "description": "Type of resource.",
                                "readOnly": true,
                                "type": "string"
                            }
                        },
                        "type": "object",
                        "x-ms-azure-resource": true
                    }
                ],
                "description": "Quotas for DelegatedProviders.",
                "properties": {
                    "properties": {
                        "description": "Quotas for DelegatedProviders.",
                        "x-ms-client-flatten": true,
                        "properties": {
                            "allowCustomPortalBranding": {
                                "description": "Value indicating whether custom portal branding is allowed.",
                                "type": "boolean"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "QuotaList": {
                "description": "List of quotas.",
                "properties": {
                    "nextLink": {
                        "description": "URI to next page.",
                        "type": "string"
                    },
                    "value": {
                        "description": "List of quotas.",
                        "items": {
                            "allOf": [
                                {
                                    "description": "Base Resource Object",
                                    "properties": {
                                        "id": {
                                            "description": "URI of the resource.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "location": {
                                            "description": "Location of the resource",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Name of the resource.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "tags": {
                                            "additionalProperties": {
                                                "type": "string"
                                            },
                                            "description": "List of key-value pairs.",
                                            "readOnly": true,
                                            "type": "object"
                                        },
                                        "type": {
                                            "description": "Type of resource.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "x-ms-azure-resource": true
                                }
                            ],
                            "description": "Quotas for DelegatedProviders.",
                            "properties": {
                                "properties": {
                                    "description": "Quotas for DelegatedProviders.",
                                    "x-ms-client-flatten": true,
                                    "properties": {
                                        "allowCustomPortalBranding": {
                                            "description": "Value indicating whether custom portal branding is allowed.",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "QuotaProperties": {
                "description": "Quotas for DelegatedProviders.",
                "properties": {
                    "allowCustomPortalBranding": {
                        "description": "Value indicating whether custom portal branding is allowed.",
                        "type": "boolean"
                    }
                },
                "type": "object"
            }
        },
        "parameters": {
            "QuotaParameter": {
                "description": "Name of the quota.",
                "in": "path",
                "name": "quota",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            }
        },
        "securitySchemes": {
            "azure_auth": {
                "description": "Azure Active Directory OAuth2 flow",
                "type": "oauth2",
                "flows": {
                    "implicit": {
                        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
                        "scopes": {
                            "user_impersonation": "impersonate your user account"
                        }
                    }
                }
            }
        }
    }
}